<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10  col-12  mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand"  id="navlinkee"    href="/">WEBSITE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav  ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link"  id="navlink"    href="/">Home </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link"  id="navlink"    href="/about">Aboutus </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link"  id="navlink"    href="/services">Services </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link"  id="navlink"    href="/contact">Contactus </a>
                            </li>
                                                        <li class="nav-item active">
                                <a class="nav-link"  id="navlink"    href="/location">Location </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="row">
                    <div class="col-md-5 col-12  mt-5">
                        <h1> Welcome to my <strong class="website">Website</strong> I am here to help others</h1>
                        <a href="/services"><button class="button" >Get Started</button></a>
                    </div>
                    <div class="col-md-5 col-12  mt-5">
                        <div class="main_header_right">
                        <img src="images/mainofficee.png" alt="no image found" class="image">
                        </div>
                    </div>
                </div>







            </div>

        </div>

    </div>
            <footer class="footer">
                    
                <p>
                created by kallu-tech
                </p>
            </footer>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>